.header{
    background-color: black;
    padding: 15px 5% 15px;
}

.header a{
    color: white;
}

a{
    text-decoration: none;
}

.tab{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

thead{
    background-color: rgba(128, 128, 128, 0.44);
}

td, th{
    padding: 8px;
}

.number{
    font-size: 1.2em;
    font-weight: bolder;
}

.block_form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.block_form div{
    display: flex;
    flex-direction: column;
}

.valider{
    border-radius: 5px;
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 5px;
    width: 90px;
}

.champs{
    padding-top: 5px;
}

input{
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    border-color: rgba(180, 180, 180, 0.38);
    height: 35px;
}

label{
    font-size: 0.9em;
    font-weight: bolder;
}

